@import "../../mixins/mixinis.scss";
@import "../../index.scss";

.benefit {
    background: $white1;

    .container-fluid {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .para {
            font-size: 0.74rem;
        }
    }

    .benefitBox {
        flex-direction: column;
        row-gap: 1rem;

        @include md {
            flex-direction: row;
        }

        .ImageBox {
            img {
                width: 100%;

                @include md {
                    width: 80%;
                }
            }
        }

        .TextData {
            .row {
                .col {
                    &:first-child {
                        .card {
                            .card-body {
                                background: $white;
                            }

                            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
                            rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

                        }
                    }

                    .card {
                        border-radius: 0.78rem;
                        border: none;
                        
                        .card-body {
                            border-radius: 1rem;
                            padding: 0.71rem;
                            transition: 0.3s;
                            &:hover{
                                background-color: $white
                            }
                        }
                    }
                }
            }
        }
    }

}